:root{
  --dark-blue:#1d242d;
  --light-blue:#EAEEF2;
  --subtitle:#6f7a87;
  --title: #1d242b;
  --para: #a1a9b2;
  --icon-bg: #f2f3f7;
  --sale-red:#CC0D00;
}

.featured{
  margin: 100px 50px;

  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;

    .sectionTitle{
      flex: 2;
      text-transform: capitalize;
      color: var(--title);
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}