:root{
  --dark-blue:#1d242d;
  --light-blue:#EAEEF2;
  --subtitle:#6f7a87;
  --title: #1d242b;
  --para: #a1a9b2;
  --icon-bg: #f2f3f7;
  --sale-red:#CC0D00;
}
.sale-banner{
  background-color: var(--dark-blue);
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  height: 100px;
  // border-bottom: 1px solid var(--subtitle);
  background: var(--light-blue);

  .wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left{
      display: flex;
      align-items: center;
      gap: 25px;

      .item{
        display: flex;
        align-items: center;
        gap: 5px;
      }
      .item:hover{
        cursor: pointer;
      }
    }
    .center{
      font-size: 30px;
      color: var(--dark-blue);
      font-weight: 700;
    }
    .right{
      display: flex;
      align-items: center;
      gap: 25px;

      .icons{
        display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;

        .cartIcon{
          position: relative;
          span{
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--sale-red);
            color: #fff;
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;justify-content: center;
          }
        }
      }
    }
  }

}